<!-- <h1>Hi, <%=current_user.first_name if current_user %></h1>
<p>there is a monster</p>
<%= @posts.inspect %>
<br>
<h1>Skills</h1>
<%= @skills.inspect %>

<hr>

<%= content_tag :p, class:'my-special-class' do %>
	Hi, I'm in a paragraph tag
<% end %> -->

<main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead"></p>
    <p class="lead">
       Every task is a brand new journey, enjoy it and learn from it.
      <%= link_to "About me", about_path, class:" btn btn-secondary btn-lg" %>
    </p>
      
      <%= link_to "About me", about_path, class:" btn btn-secondary btn-lg" %>
    </p>
  </main>
